
/*This is de Stylesheet of Snake Game by Juan Manuel Bianchetti 2016.*/


.contenedor {
	width: 80%;
	max-width: 1000px;
	height: 100%;
	background: black;
	padding: 0px;
	margin: 0 auto;
	/*con esto centro el objeto seleccionado*/
}

/*img .snakeLogo {
	height: 500px;
	width: auto;
}*/

nav{
	width: 100%;
	height: 100px;
	background: grey;

}

nav div{
	height: 10%;
	min-height: 50px;
	color: #fff;
	font-family: Arial;
	font-size: 1em;
	text-align: center;
	padding: 0px 10px 0px 10px;
	margin: auto 0;
	box-sizing:border-box;
	float: left;
	background: blue;
	/*border: 10px solid #000*/

}

nav div :hover {
	color: #bdbdbd;
	
}
.main {
	width: 70%;
	background: orange;
	padding: 5px;
	box-sizing:border-box;
	float: left;
	margin: 0 auto;

}

canvas {
	clear: both;
	height: 80%;
	min-height: 50px;
	width: 100%;
	padding: 0px;
	display: block;
	box-sizing:border-box;
	border: solid;
	border-color: blue;
	
}

aside {
	
	font-family: arial;
	width: 30%;
	padding: 20px;
	box-sizing:border-box; 
	/*es la propiedad que permite que el padding no se suma el tamaño total del contenedor*/
	background: lime;
	float: left;
}

footer {
	width: 10%;
	padding: 5px;
	box-sizing:border-box;
	background: red;
	float: left;
}

@media screen and (max-width: 800px) {
	/*Esto nos permite que cuando el ancho de pantalla sea menor que 800px (Tablet)se ejecute el siguente estilo*/
	
	.main{
		width: 100%;
		box-sizing:border-box;
		padding: 5px;
	}
	aside{
		width: 100%;
	}
}

@media screen and (max-width: 437px) {
	/*Esto nos permite que cuando el ancho de pantalla sea menor que 400px (smarphone)se ejecute el siguente estilo*/
	.contenedor{
		width: 100%;
		min-width: 300px;

	}
	aside{
		display: none; 
		/*background: aqua;*/	
		/*Esto permite no mostrar el aside cuando el ancho de pantalla es menor a 400px*/
	}
	nav div .cajaStart , nav div .cajaPause{
		display: none; 
	}
}

/*
.cajaPadre{
	height: 50px;
	width: 100%;
	background: orange;
	
	
}

display: inline-block;
	


.clear {
	 
	Con esto le obligamos al párrafo a no rodear la imagen 
}




*/